DATABASE_URL=postgresql://username:password@host:5432/dbname

SECRET_KEY=your-secret-key

TOKEN_EXPIRE_HOURS=12

DEFAULT_ADMIN_ID=admin
DEFAULT_ADMIN_PW=admin1234

AUTO_CLEANUP_DAYS=0

ALLOWED_ORIGINS=*